---
ci:
  # We rely on renovate to update it but there is no way to fully disable it
  # https://github.com/pre-commit-ci/issues/issues/83
  autoupdate_schedule: quarterly
repos:
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.2.1
    hooks:
      - id: cspell
        entry: bash
        pass_filenames: false
        args:
          [
            "-euo",
            "pipefail",
            "-c",
            "cspell-cli . --relative --no-progress --no-summary && cspell-cli . --disable-dictionary=words --no-exit-code --words-only --quiet --unique | LC_ALL=C sort > .config/dictionary.txt",
          ]
        name: cspell + remove unused and sort dictionary
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude: >
          (?x)^(
            .config/pydoclint-baseline.txt
          )$

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        always_run: true
        additional_dependencies:
          - prettier
          - prettier-plugin-sort-json

  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.3
    hooks:
      - id: toml-sort-fix
        alias: toml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff-format
        alias: ruff
      - id: ruff-check
        alias: ruff
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.2.1
    hooks:
      - id: cspell
        name: Spell check with cspell

  - repo: https://github.com/jsh9/pydoclint
    rev: "0.7.6"
    hooks:
      - id: pydoclint
        # This allows automatic reduction of the baseline file when needed.
        entry: sh -ec "pydoclint . && pydoclint --generate-baseline=1 ."
        pass_filenames: false

  - repo: https://github.com/pycqa/pylint.git
    rev: v4.0.2
    hooks:
      - id: pylint
        args:
          - --output-format=colorized
        additional_dependencies:
          - ansible-compat
          - ansible-core
          - molecule
          - pytest
          - pyyaml
          - setuptools
          - typing_extensions

  - repo: https://github.com/pre-commit/mirrors-mypy.git
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies:
          - ansible-compat
          - molecule
          - pytest
          - types-pyyaml
          - types-setuptools
          - typing_extensions
        # Override default pre-commit '--ignore-missing-imports'
        args: [--strict]
