# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ master, version-update ]
  pull_request:
    branches: [ master ]


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        include:
          - python-version: 3.6
            ansible-version: v28
          - python-version: 3.6
            ansible-version: v29
          - python-version: 3.7
            ansible-version: v410
          - python-version: 3.8
            ansible-version: v410
          - python-version: 3.9
            ansible-version: v410
          - python-version: 3.10
            ansible-version: v410
          - python-version: 3.11
            ansible-version: v410


    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox tox-gh-actions
    - name: Test with tox
      run: tox
      env:
        ANSIBLE_VERSION: ${{ matrix.ansible-version }}
